absl-py==0.7.1
astor==0.8.0
atari-py==0.1.15
cffi==1.12.3
Click==7.0
cloudpickle==1.2.1
cycler==0.10.0
Cython==0.29.10
dill==0.2.9
future==0.17.1
gast==0.2.2
glfw==1.8.1
grpcio==1.21.1
gym==0.12.5
h5py==2.9.0
imageio==2.5.0
joblib==0.13.2
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
lockfile==0.12.2
Markdown==3.1.1
matplotlib==3.1.0
mock==3.0.5
mpi4py==3.0.2
numpy==1.16.4
opencv-python==4.1.0.25
pandas==0.24.2
Pillow==6.0.0
progressbar2==3.42.0
protobuf==3.8.0
pycparser==2.19
pyglet==1.3.2
pyparsing==2.4.0
python-dateutil==2.8.0
python-utils==2.3.0
pytz==2019.1
PyYAML==5.1.1
pyzmq==18.0.1
scipy==1.3.0
six==1.12.0
-e git+https://github.com/hill-a/stable-baselines@c68385aaa4f1362cb74f93f9f3cd6616b0fa5d1d#egg=stable_baselines
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
tqdm==4.32.1
Werkzeug==0.15.4
yappi==1.0
zmq==0.0.0
